*.gemspec
*.rbc
*.tmproj
*~
.*.swp
.bundle
.classpath
.project
.rake_tasks
.rvmrc
.settings
Gemfile*
TAGS
build
ext/java/Canna
ext/java/nokogiri/*.class
ext/java/nokogiri/*/*.class
ext/nokogiri/*.dll
lib/nokogiri/css/generated_parser.rb
lib/nokogiri/css/generated_tokenizer.rb
lib/nokogiri/css/parser.rb
lib/nokogiri/css/tokenizer.rb
lib/nokogiri/nokogiri.bundle
lib/nokogiri/nokogiri.jar
lib/nokogiri/nokogiri.so
pkg
ports
stash
tags
test/*/*_mini.rb
test/*_mini.rb
test/test_jruby_footer.rb
test/test_jruby_header.rb
tmp
