.*.swp
*.tmproj
ext/nokogiri/*.o
ext/nokogiri/*.dll
ext/nokogiri/Makefile
ext/nokogiri/*.log
ext/nokogiri/*.bundle
ext/nokogiri/*.a
ext/nokogiri/*.so
ext/nokogiri/conftest.dSYM
lib/nokogiri/css/generated_parser.rb
lib/nokogiri/css/generated_tokenizer.rb
mkmf.log
cross
tags
*.rbc
stash
.rake_tasks
tmp
