# bundler
/.bundle/
/Gemfile*lock
/vendor/

# building and packaging
/ext/nokogiri/**/nokogiri.dll
/ext/nokogiri/include
/gems/
/lib/nokogiri/**/nokogiri.bundle
/lib/nokogiri/**/nokogiri.so
/lib/nokogumbo/**/nokogumbo.bundle
/lib/nokogumbo/**/nokogumbo.so
/lib/nokogiri/nokogiri.jar
/pkg/
/ports/
/tmp/

# CI
/concourse/docker-compose.yml
/concourse/private.yml
/concourse/images/*.generated

# code coverage
/coverage/

# documentation
/.yardoc/
/doc/

# editors and tags
.classpath
.project
.settings
build
TAGS
tags

# mac
.DS_Store/

# Vagrant
/.vagrant/

# directories named after issues
/[0-9][0-9][0-9]*/
